.DS_Store
.venv/
*.log
__pycache__/
.pytest_cache
*.pdf
Web_Development_Bootcamp/Other_Properties/*
Web_Development_Bootcamp/Flexbox_And_Responsive/*
Web_Development_Bootcamp/PricingPanel/*
Web_Development_Bootcamp/08_Bootstrap/*