.DS_Store
.venv/
*.log
__pycache__/
.pytest_cache
*.pdf
Web_Development_Bootcamp/Other_Properties/*
Web_Development_Bootcamp/Flexbox_And_Responsive/*
Web_Development_Bootcamp/PricingPanel/*
Web_Development_Bootcamp/08_Bootstrap/*
Web_Development_Bootcamp/Loops_CODE/*
Web_Development_Bootcamp/DOM_Intro_CODE/*
Web_Development_Bootcamp/DOM_Events_CODE/*