Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
cssselect2==0.7.0
diagrams==0.24.1
emoji==2.14.1
fonttools==4.56.0
graphviz==0.20.3
iniconfig==2.0.0
Jinja2==3.1.5
Markdown==3.7
MarkupSafe==3.0.2
packaging==24.2
pdfkit==1.0.0
pillow==11.1.0
pluggy==1.5.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
pytest==8.3.4
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==64.1
webencodings==0.5.1
zopfli==0.2.3.post1
